table{
    border: 1px solid brown;
    border-collapse: collapse;
    width: 40%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

td{
    border: 1px solid brown;
    padding: 5px 10px;
}
.tdInt{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: bold;
    background-color: brown;
    border-right: 1px solid white;
    color: white;
}